span.pass {color:#f00;font-size:12px;}


.user-list-cont {width:960px;}


.userBox-container {padding:5px 5px 10px 5px;;border:0px solid #000;}
.userProfile-cont {padding:15px;border:1px solid #fff;border:1px solid dodgerblue;background: transparent url(../images/header-bg.png) repeat left top;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;-webkit-box-shadow: 0 0px 1px dodgerblue;
	   -moz-box-shadow: 0 0px 1px dodgerblue;
	        box-shadow: 0 0px 1px dodgerblue;}

.userAvatar {float:left;border:0px solid #00f;}
.userAvatar img {width:60px;height:60px;padding:3px;background:#fff;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;padding:5px;border:1px solid cornflowerblue;margin-right:8px;vertical-align:top;-webkit-box-shadow: 0 0px 1px black;
	   -moz-box-shadow: 0 0px 1px black;
	        box-shadow: 0 0px 1px black;}

.editUser-profile {float:right;border:none;padding:5px;}

.userProfile-detail {float:left;border:0px solid #000;}
.userDetail {padding:4px;border:0px solid #f00;}
.userDetail ul {list-style:none;margin:0px;}
.userDetail ul li {padding:3px 0px;line-height:14px;}
.userDetail ul li span.user_name { font-size:18px;color:black;letter-spacing:1px;text-shadow: 1px 1px 1px #000000, 0 1px 1px #fff;}
.userDetail ul li span.user_text {padding-right:8px;font-size:11px;font-weight:bold;}
.userDetail ul li span.result_text {padding-right:8px;font-size:11px;font-weight:bold;letter-spacing:1px;}
.userDetail ul li a {}
.userDetail ul li a:hover {text-decoration:none;} 


.user-listBox {padding:0px;border:1px solid white;background:#fff;-webkit-border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;-webkit-box-shadow: 0 0px 2px dodgerblue;
	   -moz-box-shadow: 0 0px 2px dodgerblue;
	        box-shadow: 0 0px 2px dodgerblue;}

.user-listBox .lisHeader {border:1px solid re;border-bottom:1px solid #fff;-webkit-border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;text-shadow: 0px 1px 2px #000;letter-spacing:1px;
	color: #fff;text-align:left;font-size:13px;padding:3px 10px;background:#0088cc;
 background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);}

.user-listBox .lisHeader h1 {position: relative; top: 2px; display: inline; font-size:14px; color: #fff; text-shadow: #151515 0 1px 0;padding:0px 5px 0px 5px;}
.user-listBox .lisHeader img {padding:5px 0px 5px 8px;vertical-align:middle;}
.user-listBox .lisHeader em { 
	background: url(../images/hover.png) no-repeat;
	width: 180px;
	height: 45px;
	margin-top:-70px;
	margin-left:-180px;
	position: absolute;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	display:none;}

.user-listBox .lisHeader .button {margin-left: 5px;}
.header .button {border: 1px solid cornflowerblue; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 6px 10px 6px 2px; text-shadow: #00487a 1px 1px 0; color: #fff; cursor: pointer;background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);-webkit-box-shadow:inset 0 0px 3px rgba(0, 0, 0, 0.3),0 0px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 0 0px 3px rgba(0, 0, 0, 0.3),0 0px 3px rgba(0, 0, 0, 0.3);box-shadow:inset 0 0px 3px rgba(0, 0, 0, 0.3),0 0px 3px rgba(0, 0, 0, 0.3);font-size:11px;font-weight:bold;}

.lisHeader .button:hover {border: 1px solid FloralWhite ; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 6px 10px 6px 2px; text-shadow: gainsboro 1px 1px 0; color: darkred; cursor: pointer;background-repeat: repeat-x; /* Repeat the gradient */text-decoration:none;
  background-image: -moz-linear-gradient(top, #eae9e7 0%, #eee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eae9e7), color-stop(100%,#eee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #eae9e7 0%,#eee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #eae9e7 0%,#eee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #eae9e7 0%,#eee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae9e7', endColorstr='#eee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #eae9e7 0%,#eee 100%); /* W3C */-webkit-box-shadow:inset 0 0px 3px rgba(0, 0, 0, 0.3),0 0px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 0 0px 3px rgba(80, 0, 0, 0.3),0 0px 3px rgba(0, 0, 0, 0.3);box-shadow:inset 0 0px 3px rgba(0, 0, 0, 0.3),0 0px 3px rgba(0, 0, 0, 0.3);font-size:11px;}

.lisHeader .button img { vertical-align:middle; margin-right:6px;}


.user-listBox h3 {border:1px solid re;border-bottom:1px solid #fff;-webkit-border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;text-shadow: 0px 1px 2px #000;letter-spacing:1px;
	color: #fff;text-align:left;font-size:13px;padding:6px 10px;background:#0088cc;
 background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);}

.user-listBox h3 span {float:right;padding:2px 5px;margin-top:5px;cursor:pointer;}
.user-listBox h3 span img { vertical-align:top;}
.userDetail-actions {margin:none;padding:0px 30px;color:#444;background: #dedede url('../images/column-header-bg.gif') repeat-x top;border:1px solid dodgerblue;border-bottom:none;-webkit-box-shadow: 0 2px 2px -2px black;
	   -moz-box-shadow: 0 2px 2px -2px black;
	        box-shadow: 0 2px 2px -2px black;}

.userDetail-actions ul {margin:0;list-style:none;border:0px solid #00f;padding:5px 0px;}
.userDetail-actions ul li {display:inline-block;padding:2px 2px;font-size:12px;color:#000;text-shadow: 0px 1px 2px #888;letter-spacing:1px;}
.userDetail-actions ul li a {padding:0px 8px 0px 0px;font-size:11px;color:#000;text-shadow: 0px 1px 2px #eee;border-right:1px solid #aaa;}
.userDetail-actions ul li:last-child a {border-right:none;}
.userDetail-actions ul li:first-child img {margin-right:5px;vertical-align:top;}

.userDetail-actions ul li a:hover {text-decoration:none;color:#990000;}
.userDetail-actions ul li img {vertical-align:top;margin-left:5px;}

.userInfo-Box {padding:10px 15px;;border:1px solid dodgerblue;}
.userInfo-Box fieldset {border:1px solid dodgerblue;margin:4px 0px 10px 0px;padding:10px 15px;-webkit-border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;background:#f3f5f4;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px; }

.userInfo-Box fieldset legend {padding:3px 8px;letter-spacing:1px;font-size:12px;font-weight:bold;border:1px solid dodgerblue;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;color:#000;text-shadow: 0px 0px 0px #000;background:cornsilk;}

.userList {}
.userList ul {list-style:none;margin:0px;}
.userList ul li {border-bottom:0px solid #ddd;line-height:16px;padding:4px 10px;}
.userList ul li span.userInfo {float:left;text-align:right;width:140px;padding:0px 0px;border:0px solid #f00;font-weight:bold;}
.userList ul li span.userInfo label {font-size:11px;font-weight:bold;border:0px solid #00f;}
.userList ul li span.userData {font-size:11px;padding:0px 10px;border:0px solid #00f;color:#000;text-shadow: 0px 1px 2px #eee;letter-spacing:1px;}
.userList ul li ul {float:left;border:0px solid #f00;margin:0px;padding:0px;}
.userList ul li ul li {display:inline-block;margin:0px;padding:0px;}
.userList ul li ul li label { float:right;margin:0px 20px 0px 5px;padding:0px;font-size:10px;font-weight:bold;}
.userList ul li ul li input {}
.userList ul li ul li:first-child {margin-left:5px;}

/***********************/

.rightPane {border:none;float:right;margin-right:40px;margin-top:2px;}

.btn-group {border:none;-webkit-box-shadow:inset 0 0px 5px rgba(0, 0, 0, 0.3),0 0px 5px rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 0 0px 5px rgba(80, 0, 0, 0.3),0 0px 5px rgba(0, 0, 0, 0.3);box-shadow:inset 0 0px 5px rgba(0, 0, 0, 0.3),0 0px 5px rgba(0, 0, 0, 0.3);}
.btn-group a.btn {padding:8px 10px;border:0px solid #000;margin:0;}

.btn-group a.btn span.caret {-webkit-border-radius:0px 0px 5px 5px;-moz-border-radius:0px 0px 5px 5px;border-radius:0px 0px 5px 5px;}

.btn-group .showMenu {border:none;margin-top:6px;z-index:3;}
.btn-group .showMenu ul.user-menu-cont {border:0px solid cornflowerblue;border-top:none;margin:0px;padding:3px 3px;list-style:none;width:128px;background:#eee;margin-top:1px;-webkit-box-shadow: 0 1px 2px cornflowerblue;
	   -moz-box-shadow: 0 1px 2px cornflowerblue;
	        box-shadow: 0 1px 2px cornflowerblue;-webkit-border-radius:0px 0px 5px 5px;-moz-border-radius:0px 0px 5px 5px;border-radius:0px 0px 5px 5px;}
		
.btn-group .showMenu ul.user-menu-cont li {font-size:11px;padding:4px 5px;}
.btn-group .showMenu ul.user-menu-cont li:last-child {-webkit-border-radius:0px 0px 5px 5px;-moz-border-radius:0px 0px 5px 5px;border-radius:0px 0px 5px 5px;}

.btn-group .showMenu ul.user-menu-cont li a {}
.btn-group .showMenu ul.user-menu-cont li a:hover {text-decoration:none;color:#990000;}
.btn-group .showMenu ul.user-menu-cont li a i {margin-right:5px;}
		

